<div class= "ekart--product--container">
<!-- <img [src]="product.pimage" alt="iphone image">
<p>Name: {{ product.name }}</p>
<p>Price:${{ product.price }}</p>
<p>Color: {{ product.color }}</p> -->
<!-- <p>Discounted Price : {{'$' + (product.price - (product.price * product.discount/100))}}</p> -->
<!-- <p>Discounted Price : {{getDiscount().toFixed(2)}}</p>
<p>{{product.instock > 0 ? 'only '+product.instock+' left':'outoff stock'}}</p> -->
<!-- <button [disabled]=" !(product.instock > 0 )">Buy Now</button> -->
<!-- <input bind-value="name" [attr.aria-invalid]="">  -->
<!-- other way of property binding -->
 <!-- <input (input)="onNameChange($event)"><br>
 <p>name = {{name}}</p> -->
 <!-- Event binding .|^-->
 <!-- <button (click)="decrementCartVlaue()">-</button>
 <span>{{addToCart}}</span>
 <button (click)="incrementCartVlaue()">+</button> -->


 <!-- ||||||||||| Now actual project starts ||||||||||||| -->

<app-search (searchTextChanged)="setsearchText($event)"></app-search> <!-- 
 <div *ngFor="let item of listOfString">
    <p>Current elemenet of array is : {{item}}</p>
</div> -->
<product-list [searchText]="searchText" #productlistcomponent></product-list>
<product-detail *ngIf="productlistcomponent.selectedProduct"></product-detail>
</div>