<app-filter [all]="totalprodcount" 
[instock]="totalproductinstock" 
[outofstock]="totalproductoutofstock"
(selectedFilterRadioButtonChanged)="onFilterChanged($event)"       
>
</app-filter>
  <div class="ekart--product--container">
<ng-container
 *ngFor="let prod of products " >
  <!-- *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton"  -->   

  <!-- added with &&  below -->
<app-product  [product]="prod" 
*ngIf="(selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton)&&(searchText==='' || prod.name.toLowerCase().includes(searchText))" (click)="selectedProduct=prod">
</app-product>
</ng-container>
</div>